DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=
DB_PASS=
DB_NAME=

WEB_SECRET=
SESSION_SECRET=

STEAM_API_KEY=
BASE_URL=
PORT=3000
NODE_ENV=production

DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=
DISCORD_LINK_SECRET=
DISCORD_LINK_TOKEN_LIFETIME=600
DISCORD_VOICE_CHANNEL_ID=
DISCORD_LINK_LOG_CHANNEL_ID=
DISCORD_WARN_LOG_CHANNEL_ID=
DISCORD_GUILD_ID=

WARN_SERVER_NAME=1
VOICE_CHANNEL_PREFIX=Онлайн
VOICE_CHANNEL_UPDATE_MS=60000

GMOD_SERVER_HOST=
GMOD_SERVER_PORT=

TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_ID=
